body {
  font-family: 'Lato', sans-serif;
}
a {
  color: #b71a4c;
}
.front-indicator {
  width: 300px;
  margin: 4px 0px 15px 4px;
  background-color: #abc;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.wrapper {
  width: 100%;
  text-align: center;
}
div.seatCharts-cell {
  color: #182C4E;
  height: 32px;
  width: 32px;
  line-height: 32px;
}
div.seatCharts-seat {
  color: #FFFFFF;
  cursor: pointer;	
}
div.seatCharts-row {
  height: 40px;
}
div.seatCharts-seat.disponible {
  background-color: #3a78c3;
}
div.seatCharts-seat.disponible.estrado {
  background-color: #3c6e71;
}
div.seatCharts-seat.disponible.cultural {
  background-color: #364958;
}
div.seatCharts-seat.disponible.escenario {
  background-color: #7f5539;
}
div.seatCharts-seat.focused {
  background-color: #B9DEA0;
}
div.seatCharts-seat.selected {
  background-color: #ff6b35;
}
div.seatCharts-seat.ocupado {
  background-color: #ccc;
}
div.seatCharts-container {
  width: 315px;
  padding: 5px;
  margin: 0 auto;
}
div.seatCharts-legend {
  padding-left: 0px;
}
ul.seatCharts-legendList {
  padding-left: 0px;
  text-align: left;
}
span.seatCharts-legendDescription {
  margin-left: 5px;
  line-height: 30px;
}